.logo {
  width: 300%;
}

.logo img {
  width: 350%;
   height: auto;
}

.tn-atom {
  width: 100px !important;
}

.t-tildalabel-free {
  display: none !important;
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.VR {
  width: 60%;
  font-size: 50px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1;
  font-weight: 500;
  margin: 50px 0;
}

.vr-block p {
  width: 80%;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: -0.6px;
  font-size: 17px;
  margin-bottom: 40px;
}
